//- OVERVIEW
//-================================

//- Support
//--------------------------------
//- Works correctly in all email clients, except for Lotus Notes 4.5 and Lotus Notes 5

//- PARTIAL MIXINS
//-================================

//- Style Tags
//--------------------------------
mixin style-tags
	style.
		html {
			margin:0;
			padding:0;
			height:100% !important;
			margin:0;
			padding:0;
			width:100% !important;
			background-color: #F9F9F9 !important;
		}
		
		body {
		  margin:0;
		  padding:0;
		  height:100% !important;
		  margin:0;
		  padding:0;
		  width:100% !important;
		  background-color: #F9F9F9 !important;
		  -webkit-text-size-adjust:100%;
		  -ms-text-size-adjust:100%;
		  
		  @media only screen and (max-width: 480px) {
			-webkit-text-size-adjust:none !important;
			width:100% !important;
			min-width:100% !important;
		  }
		}
		
	|<!--[if (gte mso 9)|(IE)]>
	style.
		.u-textFallback {
			font-family: Arial, Helvetica, sans-serif !important;
		}
	|<![endif]-->


//- IE Conditional Comment Opening
//--------------------------------
mixin ie-open(props)
	- props = props || {};
	- table = props.table ? 'width="' + props.table + '"' : '';
	- cell = props.cell ? 'width="' + props.cell + '"' : '';
	|<!--[if (gte mso 9)|(IE)]>
	|<table cellspacing="0" cellpadding="0" border="0" !{table} align="center">
	|<tr>
	|<td valign="top" !{cell}>
	|<![endif]-->


//- IE Conditional Comment Seperator
//--------------------------------
mixin ie-col(props)
	- props = props || {};
	- cell = props.cell ? 'width="' + props.cell + '"' : '';
	|<!--[if (gte mso 9)|(IE)]>
	|</td>
	|<td valign="top" !{cell}>
	|<![endif]-->


//- Ie Conditional Comment Closing Partial
//--------------------------------
mixin ie-close(props)
	- props = props || {};
	|<!--[if (gte mso 9)|(IE)]>
	|</td>
	|</tr>
	|</table>
	|<![endif]-->


//- Preheader
//--------------------------------
mixin preheader
	table(class="Preheader" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #36424F")
		tr: td(style="background: #36424F; color: #36424F; font-size: 1px; height: 15px") <br/>
		tr: td
			+ie-open({table: 600})
			table(width="100%" align="center" style="max-width: 600px;"): tr: td
				table(align="right" cellspacing="0" cellpadding="0" border="0"): tr
					td(style="padding: 0 20px 15px 0")
						a(class="u-textFallback" href="https://account-audit.myshopify.com/" style="font-size: 12px; font-family: Montserrat, Arial, sans-serif; color: white; text-decoration: none;") Visit Store
					td(style="padding: 0 20px 15px 0")
						a(class="u-textFallback" href="http://www.softsky.company/dashboard" style="font-size: 12px; font-family: Montserrat, Arial, sans-serif; color: white; text-decoration: none;") Your Account
			+ie-close


//- Header
//--------------------------------
mixin header
	tr
		td(style="padding: 15px 20px")
			a(href="https://www.softsky.company")
				img(src="https://s3.us-west-1.amazonaws.com/softsky-resources/SOFTSKY-logo-black.png" alt="Daily Digest Mailer" width="245" style="border-style: none; outline: none")
				
//- Super Heading
//--------------------------------
mixin super-heading
	tr
		td(style="font-size: 0; background-color: #36424F; text-align: center; padding: 16px 0")
			+ie-open(({cell: 300}))
			div(style="display: inline-block;")
				table(cellspacing="0" cellpadding="0" border="0" width="300"): tr: td(class="u-textFallback" style="font-weight: bold; text-align: left; font-size: 19px; color: white; padding: 7px 20px; font-family: Montserrat, Arial, sans-serif; line-height: 1.4") ACCOUNT AUDIT<br/> REPORT<br/>
			+ie-col(({cell: 300}))
			div(style="display: inline-block;")
				table(cellspacing="0" cellpadding="0" border="0" width="300"): tr: td(class="u-textFallback" style="text-align: right; font-size: 14px; color: white; padding: 7px 20px; font-family: Montserrat, Arial, sans-serif; line-height: 1.7") Transaction ID: #{transactionId}<br>Date: #{reportDate}
			+ie-close
		

//-Intro Block
//--------------------------------
mixin intro-block
	tr
		td(style="font-size: 0; background-color: white; text-align: center; padding: 15px 0 35px")
			+ie-open(({cell: 300}))
			div(style="display: inline-block; vertical-align: top")
				table(cellspacing="0" cellpadding="0" border="0" width="100%"): tr: td(class="u-textFallback" style="line-height: 1.4; text-align: left; font-size: 15px; color: #666666; padding: 15px 20px; font-family: Montserrat, Arial, sans-serif")
					p Hi #{name.full}
					p Your email (#[strong #{email}]) was found in #[strong #{breaches.length}] out of #[strong #{breached_count}] databases of breached accounts. Please see the details below.  

//- Button
mixin button(caption, href, disabled)
	table(cellspacing="0" cellpadding="0" border="0" align="center"): tr
		td(style="padding-top: 15px").
			<!--[if mso]>
				<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:45px;v-text-anchor:middle;width:260px;" stroke="f" fillcolor="#F05032">
				<w:anchorlock/>
				<center>
			<![endif]-->
			<a class="u-textFallback" href=#{disabled?"javascript:void(0)":href}
			style="background-color:#F05032;color:#ffffff;display:block;font-family:sans-serif;font-weight:bold;line-height:45px;text-align:center;text-decoration:none;width:260px;-webkit-text-size-adjust:none; font-family: Montserrat, Arial, sans-serif; font-size: 14px;">#{caption}</a>
			<!--[if mso]>
				</center>
				</v:rect>
			<![endif]-->

//- Small Header
//--------------------------------
mixin small-header
	tr
		td(class="u-textFallback" style="font-size: 16px; background-color: #36424F; padding: 15px 20px; color: white; font-family: Montserrat, Arial, sans-serif; font-weight: bold") REPORT DETAILS


//- Info Block
//--------------------------------
mixin info-block
	tr
		td(style="border-bottom: 1px solid #CCCCCC; background-color: #EDEDED; padding: 15px 0px; text-align: center; font-size: 0")
			+ie-open(({cell: 300}))
			div(style="display: inline-block; vertical-align: top")
				table(cellspacing="0" cellpadding="0" border="0" width="300")
					tr
						td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; color: #777777; font-size: 14px; padding: 15px 0 0 40px; text-align: left") Payment Method:
						td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; color: #777777; font-size: 14px; padding: 15px 40px 0 0; text-align: right; font-weight: bold") EFT
					tr
						td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; color: #777777; font-size: 14px; padding: 3px 0 15px 40px; text-align: left") Total Cost:
						td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; color: #777777; font-size: 14px; padding: 3px 40px 15px 0; text-align: right; font-weight: bold") R12,000,000

			+ie-col(({cell: 300}))

			div(style="display: inline-block; vertical-align: top")
				table(cellspacing="0" cellpadding="0" border="0" width="300")
					tr
						td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; color: #777777; font-size: 14px; padding: 15px 40px; text-align: left") Delivery to:<p style="font-weight: bold">11 Example Street<br>Example Suburb<br>Cape Town<br>7130</p>
			+ie-close


//- Item Order
//--------------------------------
mixin item-order(breach, shouldBlur)
	tr(style=(shouldBlur?"filter:blur(5px)":""))
		td(style="border-top: 1px solid #EDEDED; background-color: white; font-size: 0; padding: 30px 0; text-align: center;")
			+ie-open(({cell: 300}))
			div(style="display: block; vertical-align: top")
				table(cellspacing="0" cellpadding="0" border="0" width="100%"): tr
					td(style="padding: 20px;background-color:#EDEDED;text-align:center;width:150px")
						img(src=breach.LogoPath width="82" style="border: 0px solid #D4D4D4;" + (shouldBlur?";filter:blur(50px)":""))
					td(class="u-textFallback" style="line-height: 1.4; padding: 20px; color: #666666; text-align: left; font-size: 14px; font-family: Montserrat, Arial, sans-serif;") <b>#{breach.Title}</b><br>!{breach.Description}
			+ie-col(({cell: 300}))
			div(style="display: block; vertical-align: top;align:right;text-align:right")
				table(cellspacing="0" cellpadding="0" border="0" width="100%")
					tr: td(class="u-textFallback" style="font-size: 14px; padding: 15px 40px 0 0; color: #666666; text-align: right; font-size: 14px; font-family: Montserrat, Arial, sans-serif; line-height: 1.4") <b>Data classes</b>
					each cl in breach.DataClasses
						tr: td(class="u-textFallback" style="font-size: 14px; padding: 0px 40px 0 0; color: #666666; text-align: right; font-size: 14px; font-family: Montserrat, Arial, sans-serif; line-height: 1.4") #{cl}
				+button("Remove account", "https://remove.com", shouldBlur)
				+button("Change password", "https://remove.com", shouldBlur)
			+ie-close


//- Order Total
//--------------------------------
mixin order-total
	tr
		td(style="border-top: 1px solid #CCCCCC; background-color: #EDEDED; padding: 30px 20px 50px;")
			table(cellspacing="0" cellpadding="0" border="0" width="300" align="right")

				tr: td(style="border-bottom: 1px solid #666666; border-top: 1px solid #666666; padding: 30px 20px")
					table(cellspacing="0" cellpadding="0" border="0" width="100%")
						tr
							td(class="u-textFallback" style="font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px;") Shipping:
							td(class="u-textFallback" style="text-align: right; font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px;") <b>Email</b>

				tr: td(style="padding: 30px 20px 0;")
					table(cellspacing="0" cellpadding="0" border="0" width="100%"): tr
						td(class="u-textFallback" style="font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px;") Total:
						td(class="u-textFallback" style="text-align: right; font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px;") <b>#{breaches.length}</b> breached items

//- Thank You Message
//--------------------------------
mixin thank-you
	tr
		td(style="border-top: 1px solid #CCCCCC; background-color: #EDEDED; padding: 30px 20px;")
			table(cellspacing="0" cellpadding="0" border="0" width="100%")
				tr: td(class="u-textFallback" style="font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px; line-height: 1.5; text-align: center; ") Thanks for helping us!
				tr: td(class="u-textFallback" style="font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px; line-height: 1.5; text-align: center; ") SOFTSKY Account Audit Team


//- Call to Action
//--------------------------------
mixin call-to-action
	tr
		td(class="u-textFallback" style="padding: 20px; text-align: center; font-size: 15px; font-family: Montserrat, Arial, sans-serif; color: #666666") 
				div(style="display: inline-block; vertical-align: top")
					table(cellspacing="0" cellpadding="0" border="0" width="100%"): tr: td(class="u-textFallback" style="line-height: 1.4; text-align: left; font-size: 15px; color: #666666; padding: 15px 20px; font-family: Montserrat, Arial, sans-serif")
						p Unlock blured items by <a href="#{mailto_friends}">sending email</a> to <strong>#{friend_count}</strong> of your friends telling them about our service.
						p #[strong NOTE!] Please do not remove #{checkme_email} address from CC field of that email. By sending email to our service you're agreeing to our <a href=#{tos_url}>Terms of Service</a>
						+button('NOTIFY FRIENDS', mailto_friends, false)
                                        
	tr
		td(class="u-textFallback" style="padding: 20px; text-align: center; font-size: 15px; font-family: Montserrat, Arial, sans-serif; color: #666666") <b>Purchase yearly subscription</b><br> You can purchase yearly subscription with 25% discount (limited time offer). Once purchased, you will get DETAILED REPORT immediately.
			+button('SUBSCRIBE ($75/yr)', mailto_friends, false)
//- Footer
//--------------------------------
mixin footer(props)
	- props = props || {};
	table(width="100%" align="center" cellspacing="0" cellpadding="0" border="0"): tr
		td(style="padding-top: 15px")
			table(width="100%" align="center" style="background-color: #36424F;" cellspacing="0" cellpadding="0" border="0"): tr
				td(style="padding: 45px 0 35px;")
					+ie-open({table: 600})
					table(width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="max-width: 600px; background-color: #36424F; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #777777;")
						tr: td(class="u-textFallback" width="100%" style="font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 8px 40px") For any queries email us at #{support_email} or call us at #{support_phone}
						tr: td(class="u-textFallback" width="100%" style="font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 8px 40px 16px;") Schlyahtynecka 3, Gai Schevchenkivsky, Ternopil, 47710, Ukraine
					table(width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="width: 100%; max-width: 600px;")

						tr: td(class="u-textFallback" width="100%" style="font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 15px 20px 7px")
							| #[strong WE ARE SOCIAL]
						tr: td(style="padding: 16px 10px 8px")
							table(align="center" cellspacing="0" cellpadding="0" border="0"): tr
								td(style="padding: 0 7px;")
									a(href="https://twitter.com/"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-twitter-x2.png" alt="Twitter" style="height: 25px;" height="25")
								td(style="padding: 0 7px;")
									a(href="https://www.facebook.com/"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-facebook-x2.png" alt="Facebook" style="height: 25px;" height="25")
								td(style="padding: 0 7px;")
									a(href="https://www.instagram.com"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-instagram-x2.png" alt="Instagram" style="height: 25px;" height="25")
					+ie-close




//- MARKUP
//-================================   

//- Pseudo Header
//--------------------------------

doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
html(xmlns="http://www.w3.org/1999/xhtml", lang="en", xml:lang="en")
	head
		meta(content="telephone=no" name="format-detection") 
		title SOFTSKY Account Audit report
		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet")
		+style-tags
	body
		//- Entire Email Wrapper
		//--------------------------------
		table(cellspacing="0" cellpadding="0" border="0" width="100%")
			tr: td
			
			
				//- Preheader Menu
				//--------------------------------
				+preheader
			
			
			//- Open Centered Content Wrapper
			//--------------------------------
			tr: td(style="padding: 0 20px")
				+ie-open({table: 602})
				table(cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 602px")
				
				
					//- Logo Header
					//--------------------------------
					+header
					
					
					//- First Content Block
					//--------------------------------
					tr: td
						table(cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #CCCCCC")
							+super-heading
							+intro-block
						
						
					//- Spacing Cell
					//--------------------------------
					tr: td(height="30") &nbsp;
					
					
					//- Second Content Block
					//--------------------------------
					tr: td
						table(cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #CCCCCC")
							+small-header
							// +info-block
							each breach,idx in breaches
								+item-order(breach, idx >= 3)
							//+order-total
							+thank-you
							
							
					//- Call to Action
					//--------------------------------	
					+call-to-action
					
					
				//- Close Centered Content Wrapper
				//--------------------------------
				+ie-close
				
				
			//- Footer
			//--------------------------------
			tr: td: +footer

